body{
        font-family: 'Open Sans', sans-serif;
        padding: 0px;
}
#backgroundimage {
    background-image: url("../images/banner.jpg");
    width: 100%;
    height: 90vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    padding: 10px;
}

ul {
    max-width: 1200px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.banner-content{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    text-align: center;
}

.center {
    max-width: 1200px;
    margin: 0px auto;
}

li {
    display: inline;
    color: white;
    padding: 10px;
}

button {
    padding: 10px;
    color: white;
    border: 2px solid rgb(235, 96, 96);
    background-color: rgb(235, 96, 96);
}
.body-content{
    margin: 5% auto;
}
.body-content-description{
    display: inline-block;
    width: 30%;
    padding: 10px;
    text-align: center;
}
.images{
    float: left;
    width: 25%;
    padding: 0px;
}

.footer{
    background-color: rgb(55, 44, 117);
    color: white;
    padding-bottom: 60px;
}
.footer-section-2{
    padding-top: 5px;
}
.footer-section{
    width: 30%;
    text-align: center;
    display: inline-block;
   
}
.fa-icons{
    padding: 10px;
    margin: 2px;
    display: inline-block;
    border: 1px solid white;
}
.footer-bottom{
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(32, 32, 80);
    text-align: center;
    color: white;
}