#backgroundimage {
    background-image: url("./images/banner.jpg");
    width: 100%;
    height: 90vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

ul {
    max-width: 1200px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.content{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.center {
    max-width: 1200px;
    margin: 0px auto;
}

li {
    display: inline;
    color: white;
    padding: 10px;
}

button {
    padding: 10px;
    color: white;
    border: 2px solid rgb(235, 96, 96);
    background-color: rgb(235, 96, 96);
}

.features{
    display: inline-block;
    width: 30%;
    margin: 10px;
    text-align: center;
}
.images{
    float: left;
    width: 25%;
}